.ant-carousel .slick-slide h3 {
    color: #fff;
  }
  
  /* Custom Coloring */
  
  .ant-carousel .slick-dots li button {
    background: #3257a7;
    opacity: 0.4;
  }
  
  .ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background: #1a5a9a;
  }